* {
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1 {
    all: unset;
}

::selection {
    color: unset;
    background: #F4C072;
}

/* For Mozilla Firefox */
::-moz-selection {
    color: unset;
    background: #F4C072;
}

input, textarea, button, select, div, span, nav, li, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited,  a:hover, a:active {
    color: unset;
    text-decoration: none;
}

body.stop-transitions * {
    transition: none !important;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}